<div class="menu__principal">
  <div class="menu__lateral  d-flex flex-column align-items-center">

    <div class="menu__lateral-brasao my-3">
      <a class="nav-link">
        <img src="/assets/image/brasaoOficialBrancoMenor.png" alt="imagem do logo" class="logo">
      </a>
    </div>

    <div class="menu__lateral-desis my-3">
      <p class="desis">DESIS - SUTIC</p>
    </div>

    <div class="menu__lateral-links w-100">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/chamado" class="nav-link">Chamados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/acesso" class="nav-link">Acessos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/visita" class="nav-link">Visitas</a>
        </li>

      </ul>

    </div>

  </div>

</div>